<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New message</title>
</head>
<body>
    <label><a href="{% url 'app:index' %}">home</a></label>
    <form action="" method="post">
        {% csrf_token %}
        <label>Message title:</label>
        <input type="text" name="title">
        <br>
        <label>Message body</label>
        <input type="text" name="body">
        <br>
        <label>Message author</label>
        <input type="number" name="userID">
        <br>
        <input type="submit" name="create" value="Create">
        {% if opened %}
        <label>Create a message</label>
        {% else %}
            {% if ok %}
            <label>Message created</label>
            {% else %}
            <label>Invalid input</label>
            {% endif %}
        {% endif %}
    </form>
</body>
</html>